<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3 class="text-center">Класс: <%= @params[:name_class] %></h3>
    <h4><a href="<%= "/institute/" + @params[:institute].id.to_s %>"><%= @params[:institute].to_s %></a></h4>
  </div>

  <div class="button-group">
    <% ('А'..'Я').each_with_index do |letter, index|%>
      <a class="button" href='<%= "/institute/" + @params[:institute].id.to_s + "/class/"+ @params[:id_class].to_s + "/" + (index + 1).to_s %>'><%= letter %></a>
    <% end %>
    <a class="button" href='<%= "/institute/" + @params[:institute].id.to_s + "/class/" + @params[:id_class].to_s %>'>Сбросить фильтр</a>
  </div>

  <% unless @params[:filter].nil? %>
    <div class="large-12 cell">
      <div class="callout">
        <p>Фильтр: <%= @params[:filter] %></p>
      </div>
    </div>
  <% end %>

  <div class="large-12 cell">
    <div class="grid-x grid-padding-x">
      <table>
        <tbody>
          <% @params[:students].each do |student| %>
            <tr>
              <td>
                <%= student %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

</div>